---
import Layout from "../components/Layout.astro";

const city = decodeURIComponent(Astro.request.headers.get("x-vercel-ip-city"));
---

<Layout title="Samuel Newman">
  <main>
    <pre>
╔════════════════╗           
║    Samuel      ║░░                                
║      Newman    ║░░            <a href="/about">About</a>  <a href="/portfolio">Portfolio</a>  <a href="/guestbook">Guestbook</a>
╚════════════════╝░░     ───────────────────────────────────
{"  "}░░░░░░░░░░░░░░░░░░


 Hello, I'm Samuel.

 I'm a developer based out of London.

 As you can tell from this website, I'm all about bleeding
 edge technology. Humble appearance aside, it's running on
 the edge. How's the weather in {city}?

 I'm currently working at <a href="https://www.huguenots.co.uk">Huguenots</a> as a front-end
 engineer. Prior to that, I worked at <a href="https://codesigned.co.uk">Codesigned</a>.

 I have a degree in Computer Science from Kent. Outside of
 all that, I'm trying and failing to get better at
 photography.


┏━━━━━━━━━━━━━━┓
┃ GITHUB STATS ┃                         <a href="https://github.com/mozzius">github.com/mozzius</a>
┡━━━━━━━━━━━━━━┹───────────────────────────────────────────┐
│                                                          │
│ Number of Repos:   Total Stars:   Most Recent Starred:   │
│ 58                 35             <a href="https://github.com/tanstack/bling">tanstack/bling</a>         │
│                                                          │
└──────────────────────────────────────────────────────────┘
		</pre>
  </main>
</Layout>

<style>
  main {
    width: 100%;
	min-height: 100vh;
    padding: 1ch;
    box-sizing: border-box;
  }

  pre {
    font-family: "Consolas", monospace;
    line-height: 1.05;
    width: 60ch;
    margin: 0 auto;
    overflow: hidden;
  }

  a {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    cursor: pointer;
	color: black;
  }
</style>
